[access]
	inheritFrom = Public-Plugins
[project]
	description = The task plugin provides a mechanism to manage tasks which\nneed to be performed on changes along with a way to expose\nand query this information. Tasks are organized\nhierarchically, and task definitions use Gerrit queries to\ndefine which changes each task applies to, and how to define\nthe status criteria for each task. An important use case of\nthe task plugin is to have a common place for CI systems to\ndefine which changes they will operate on, and when they will\ndo so.
[access "refs/*"]
	owner = group Code Aurora Plugin Owners
	addPatchSet = group Code Aurora Contributors
